<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>douban</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.AccountController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/regist</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/getUserImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/editUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userpage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/follow</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/cancelFollow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ChatServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.ChatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/requireChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/waitForChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatServlet</servlet-name>
        <url-pattern>/endWaitForChat</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.ArticleController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/getArticleImage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/saveArticleImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/addArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/editArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/deleteArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/myArticle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/getArticleSelectedType</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ArticleEditorServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.ArticleEditorController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ArticleEditorServlet</servlet-name>
        <url-pattern>/Editor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ActionService</servlet-name>
        <servlet-class>com.allen.douban.controller.ActionController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActionService</servlet-name>
        <url-pattern>/like</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionService</servlet-name>
        <url-pattern>/collect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActionService</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DiscoveryServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.DiscoveryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DiscoveryServlet</servlet-name>
        <url-pattern>/discovery</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.allen.douban.controller.CommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/getComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/addReply</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>com.allen.douban.listener.Initializer</listener-class>
    </listener>
    <!-- 定义Filter -->
    <filter>
        <!-- Filter的名字 -->
        <filter-name>AccessFilter</filter-name>
        <!-- Filter的实现类 -->
        <filter-class>com.allen.douban.filter.AccessFilter</filter-class>
    </filter>
    <!-- 定义Filter拦截的URL地址 -->
    <filter-mapping>
        <!-- Filter的名字 -->
        <filter-name>AccessFilter</filter-name>
        <!-- Filter负责拦截的URL -->
        <url-pattern>/index</url-pattern>
        <url-pattern>/Article.jsp</url-pattern>
        <url-pattern>/discovery.jsp</url-pattern>
        <url-pattern>/ArticleEditor.jsp</url-pattern>
    </filter-mapping>
</web-app>